.search-models {
  &__wrapper {
    padding: 80px 0 50px;
    position: relative;
    z-index: 2;
    &::before {
      content: '';
      position: absolute;
      width: 331.01px;
      height: 502.67px;
      background: linear-gradient(203.52deg, #6631b5 16.51%, rgba(110, 36, 221, 0) 65.41%);
      filter: blur(87px);
      transform: rotate(-79.31deg);
      top: -10%;
      left: 0%;
    }
    &::after {
      content: '';
      position: absolute;
      width: 109.67px;
      height: 321.89px;
      border-radius: 40%;
      background: linear-gradient(178.23deg, #7e2183 -2.83%, #9b2a2a 11.93%, #5729a7 111.07%);
      filter: blur(49px);
      transform: rotate(36.44deg);
      top: 200px;
      right: -8%;
    }
    .bread-crumbs {
      display: none;
    }
    .search-models__inner {
      position: relative;
      z-index: 2;
      margin-bottom: 40px;
      .search-models__item {
        margin-bottom: 25px;
        :last-child {
          margin-bottom: 0;
        }
        .description-wrapper {
          margin-bottom: 40px;
          .description-title {
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            line-height: 38px;
            text-transform: uppercase;
            margin-bottom: 20px;
          }
          .description-subtitle {
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 20px;
          }
          .description-text {
            .text {
              font-style: normal;
              font-weight: normal;
              font-size: 18px;
              line-height: 25px;
              margin-bottom: 5px;
              &:last-child {
                margin-bottom: 0;
              }
            }
            .text-link {
              margin-top: 10px;
              font-style: normal;
              font-weight: 700;
              font-size: 18px;
              line-height: 25px;
              text-transform: uppercase;
              color: #f94bc8;
              &__span {
                color: #f94bc8;
                text-decoration: underline;
                cursor: pointer;
                transition: all 0.7s;
                &:hover {
                  color: var(--accent-color);
                }
              }
            }
            .text-link__subtitle {
              font-style: normal;
              font-weight: normal;
              font-size: 13px;
              line-height: 17px;
              margin-bottom: 10px;
            }
          }
          .direct-wrapper {
            .direct-text {
              font-style: normal;
              font-weight: normal;
              font-size: 18px;
              line-height: 22px;
              margin-bottom: 38px;
            }
            .direct-inner {
              display: flex;
              align-items: center;
              margin-bottom: 35px;
              .color-line {
                width: 85px;
                height: 2px;
                background: linear-gradient(90deg, rgba(101, 89, 234, 1) 0%, rgba(224, 49, 101, 1) 100%);
                margin-right: 20px;
              }
              .direct-list {
                display: flex;
                &__item {
                  width: 36px;
                  height: 36px;
                  border: 1px solid #c7c8d3;
                  border-radius: 50%;
                  padding: 8px;
                  margin-right: 22px;
                  transition: all 0.7s;
                  cursor: pointer;
                  &::after {
                    content: '';
                    position: absolute;
                    width: 58px;
                    height: 58px;
                    background-image: url(../img/icon-ellipse__desktop.svg);
                    background-position: center;
                    background-size: contain;
                    transform: translate(-50%, -50%);
                    top: 50%;
                    left: 50%;
                    transition: all 0.7s;
                    opacity: 0;
                  }
                  &:last-child {
                    margin-right: 0;
                  }
                  .direct-link {
                    width: 100%;
                    height: 100%;
                    .direct-svg {
                      width: 100%;
                      height: 100%;
                      fill: #c7c8d3;
                    }
                  }
                  &:hover {
                    // border-color: var(--accent-color);
                    &::after {
                      opacity: 1;
                    }
                    transform: scale(1.1);
                    .social-link {
                      .social-svg {
                        // fill: var(--accent-color);
                        transform: scale(1.1);
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .img-wrapper {
          display: flex;
          justify-content: space-between;
          .img-item {
            width: 48%;
            transition: all 0.7s;
            &__top {
              padding-bottom: 35px;
            }
            &__bottom {
              padding-top: 35px;
            }
            &:hover {
              transform: scale(1.05);
            }
          }
        }
      }
      .search-models__item-left {
        .img-wrapper {
          margin-top: 50px;
        }
      }
    }
    .our-guarantees {
      margin-bottom: 40px;
      position: relative;
      z-index: 2;
      &::after {
        content: '';
        position: absolute;
        width: 64.99px;
        height: 230.91px;
        border-radius: 40%;
        background: linear-gradient(178.23deg, #7e2183 -2.83%, #9b2a2a 11.93%, #5729a7 111.07%);
        filter: blur(35px);
        transform: rotate(36.44deg);
        right: -25%;
        top: 25%;
      }
      .guarantees-title {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 46px;
        text-align: center;
        margin-bottom: 20px;
      }
      .guarantees-list {
        &__item {
          padding-top: 8px;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 20px;
          text-align: center;
          margin-bottom: 30px;
          position: relative;
          z-index: 2;
          &:last-child {
            margin-bottom: 0;
          }
          &::before {
            content: '';
            position: absolute;
            width: 85px;
            height: 2px;
            background: linear-gradient(90deg, rgba(101, 89, 234, 1) 0%, rgba(224, 49, 101, 1) 100%);
            transform: translate(-50%, 0);
            left: 50%;
            top: 0;
          }
        }
      }
    }
    .models-slider-wrapper {
      margin-bottom: 40px;
      position: relative;
      z-index: 20;
      .models-slider {
        min-width: 0;
        position: relative;
        z-index: 20;
        width: 100%;
        padding-bottom: 30px;
        &__item {
          width: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.7s;
          img {
            width: 100%;
            height: 100%;
            max-height: 350px;
            // object-fit: contain;
          }
          &:hover {
            transform: scale(1.1);
            position: relative;
            z-index: 20;
          }
        }
        .slick-list {
          overflow: hidden;
          display: block;
          padding: 40px 0;
          padding-left: 40px;
          //   justify-content: space-between;
          //   align-items: flex-start;
        }
        .slick-slide {
          margin-right: 20px;
        }
        .slick-track {
          display: flex;
          align-items: flex-start;
        }
        .slick-arrow {
          position: absolute;
          bottom: 0;
          z-index: 20;
          font-size: 0;
          width: 32px;
          height: 32px;
          background-color: transparent;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          border: 1px solid #ffffff;
          border-radius: 50%;
          outline: none;
          transition: all 0.7s;
          cursor: pointer;
          &::after {
            content: '';
            position: absolute;
            width: 58px;
            height: 58px;
            background-image: url(../img/icon-ellipse__desktop.svg);
            background-position: center;
            background-size: contain;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            transition: all 0.7s;
            opacity: 0;
            z-index: 1;
          }
          &:hover {
            // border-color: var(--accent-color);
            &::after {
              opacity: 1;
            }
            transform: scale(1.1);
          }
        }
        .slick-prev {
          left: 0;
          background-image: url(../img/arrow__left.svg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: 55%;
        }
        .slick-next {
          right: 0;
          background-image: url(../img/arrow__right.svg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: 55%;
        }
        .slick-dots {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          transform: translate(-50%, 0);
          bottom: 10px;
          left: 50%;

          li {
            position: relative;
            list-style: none;
            width: 10px;
            height: 10px;
            margin: 0 5px;
            &.slick-active {
              button {
                background: transparent;
                border: 2px solid #ffffff;
              }
            }
          }
          button {
            position: absolute;
            transform: translate(-50%, -50%);
            left: 50%;
            top: 50%;
            font-size: 0;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            outline: none;
            border: 2px solid #ffffff;
            background: #ffffff;
          }
        }
      }
    }
    .content-text {
      position: relative;
      z-index: 20;
      .text {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 35px;
      }
      .text-title {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 10px;
      }
    }
  }
  @media (min-width: 768px) {
    .search-models__wrapper {
      padding: 100px 0 50px;
      .search-models__inner {
        .search-models__item {
          display: flex;
          justify-content: space-between;
          .description-wrapper {
            width: 48%;
            margin: 0;
          }
          .img-wrapper {
            width: 48%;
            margin: 0;
          }
        }
      }
      .search-models__item-left {
        flex-direction: row-reverse;
      }
      .our-guarantees {
        &::after {
          content: '';
          position: absolute;
          width: 64.99px;
          height: 230.91px;
          border-radius: 40%;
          background: linear-gradient(178.23deg, #7e2183 -2.83%, #9b2a2a 11.93%, #5729a7 111.07%);
          filter: blur(35px);
          transform: rotate(36.44deg);
          right: 100%;
          top: 25%;
        }
        .guarantees-title {
          margin-bottom: 43px;
        }
        .guarantees-list {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          &__item {
            width: 45%;
            margin: 0 15px;
            margin-bottom: 25px;
            :last-child {
              margin-bottom: 0;
            }
          }
        }
      }
      .models-slider-wrapper {
        .models-slider {
          .slick-prev {
            left: 25%;
          }
          .slick-next {
            right: 25%;
          }
        }
      }
    }
  }
  @media (min-width: 1024px) {
    .search-models__wrapper {
      padding: 190px 0 60px;
      &::before {
        content: '';
        position: absolute;
        width: 331.01px;
        height: 502.67px;
        background: linear-gradient(203.52deg, #6631b5 16.51%, rgba(110, 36, 221, 0) 65.41%);
        filter: blur(87px);
        transform: rotate(-79.31deg);
        z-index: 1;
        top: -7%;
        left: 0;
      }
      &::after {
        content: '';
        position: absolute;
        width: 288.16px;
        height: 881px;
        background: linear-gradient(178.23deg, #7e2183 -2.83%, #9b2a2a 11.93%, #5729a7 111.07%);
        filter: blur(75px);
        transform: rotate(36.44deg);
        top: 0%;
        right: -35%;
      }
      .bread-crumbs {
        display: flex;
        align-items: center;
        margin-bottom: 61px;
        position: relative;
        z-index: 3;
        span {
          margin: 0 5px;
        }
        &__link {
          font-style: normal;
          font-weight: 300;
          font-size: 16px;
          line-height: 29px;
          color: var(--white-color);
          &:hover {
            color: var(--accent-color);
          }
        }
      }
      .search-models__inner {
        margin-bottom: 44px;
        .description-wrapper {
          .description-title {
            font-size: 48px;
            line-height: 71px;
            margin-bottom: 23px;
          }
          .description-subtitle {
            font-size: 24px;
            line-height: 35px;
            margin-bottom: 25px;
          }
          .description-text {
            .text {
              font-size: 29px;
              line-height: 43px;
            }
            .text__desktop {
              font-size: 20px;
              line-height: 26px;
            }
          }
          .text-link {
            font-size: 16px;
            line-height: 28px;
          }
          .text-link__subtitle {
            font-size: 13px;
            line-height: 17px;
          }
        }
      }
      .our-guarantees {
        margin-bottom: 85px;
        &::after {
          right: 120%;
          top: 80%;
        }
        .guarantees-title {
          margin-bottom: 43px;
        }
        .guarantees-list {
          justify-content: space-between;
          flex-wrap: nowrap;
          &__item {
            width: 30%;
            margin: 0px;
            padding-top: 13px;
          }
        }
      }
      .models-slider-wrapper {
        position: relative;
        z-index: 2;
        margin-bottom: 76px;
        &::before {
          content: '';
          position: absolute;
          width: 701.6px;
          height: 804.1px;
          background: linear-gradient(178.24deg, #80209c -8.56%, rgba(238, 34, 34, 0) 65.48%);
          filter: blur(77px);
          transform: rotate(-115.2deg);
          top: -50%;
          left: -10%;
          z-index: 1;
          border-radius: 50%;
        }
        .models-slider {
          &__item {
            img {
              width: 295px;
              height: 350px;

              //   object-fit: cover;
            }
          }
          .slick-list {
            padding-left: 0;
            margin-right: -22px;
          }
          .slick-slide {
            margin-right: 22px;
          }
          .slick-prev {
            left: 40%;
          }
          .slick-next {
            right: 40%;
          }
        }
      }
      .content-text {
        position: relative;
        z-index: 2;
        &::after {
          content: '';
          position: absolute;
          width: 288.67px;
          height: 881px;
          border-radius: 40%;
          background: linear-gradient(178.23deg, rgba(126, 33, 131, 0.5) -2.83%, rgba(155, 42, 42, 0.5) 11.93%, rgba(87, 41, 167, 0.5) 111.07%);
          filter: blur(95px);
          transform: rotate(-32.92deg);
          right: -30%;
          top: 40%;
        }
        .text {
          line-height: 29px;
        }
        .text-title {
          line-height: 29px;
          margin-bottom: 35px;
        }
      }
    }
  }
  @media (min-width: 1500px) {
    .search-models__wrapper {
      &::before {
        left: -5%;
      }
    }
  }
  @media (min-width: 1650px) {
    .search-models__wrapper {
      &::before {
        width: 819px;
        height: 1243.72px;
        top: -30%;
        left: -27%;
      }
    }
  }
  @media (min-width: 1800px) {
    .search-models__wrapper {
      &::before {
        left: -25%;
      }
    }
  }
  @media (min-width: 2000px) {
    .search-models__wrapper {
      &::before {
        top: -35%;
        left: -30%;
      }
    }
  }
}
