<div class="modall modall-order">
  <div class="modall-body">
    <div class="close"></div>
    <h2 class="modall-title">Оставьте свои данные, мы с вами свяжемся</h2>
    <div class="forma-wrapper">
      <input class="input" type="text" id="name" name="name" placeholder="Имя" autocomplete="off" required minlength="2" />
      <input class="input" type="tel" placeholder="Телефон" id="tel" name="tel" autocomplete="off" required />
      <input class="input" type="email" placeholder="E-mail" id="email" name="email" autocomplete="off" required />
    </div>
    <button type="submit" class="button button-close thx-you"><p>Отправить</p></button>
    <div class="police__wrapper">
      <input type="checkbox" class="custom-checkbox" id="policeorder" name="policeorder" />
      <label for="policeorder" class="police-label"
        ><p class="label-text">
          Даю <a href="javascript:void(0)" class="police-link">согласие</a> на обработку моих персональных данных и с <a href="javascript:void(0)" class="police-link">политикой конфидденциальности</a>
        </p></label
      >
    </div>
  </div>
</div>

<div class="modall modall-thx">
  <div class="modall-body">
    <div class="close-btn close"></div>
    <h2 class="modall-title">Спасибо<br />Ваша заявка отправлена</h2>
  </div>
</div>
